<!-- dont print out coz we going to print elsewhere -->
<% content_for :page_title, "Add a new review" %>

<h3>Add your new restaurant review!</h3>
<!-- calling the code form partial(_form.html.erb) -->
<%= render "form" %>
